.rendererContainer {
  position: fixed;
  top: 0;
  left: 0;
}

.developer {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 50%;
  padding: 5px;
  color: lime;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  background-color: rgba(0, 255, 0, 0.25);
  border-radius: 5px;
}

.toggle-aboutme-btn {
  position: absolute;
  z-index: 1;
  top: 1725px;
  right: 10px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  background-color: rgba(0, 255, 0, 0.25);
  color: lime;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.toggle-aboutme-btn:hover {
  background-color: rgba(0, 255, 0, 0.5);
}

.aboutme {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  top: 1800px;
  right: 10px;
  width: 50%;
  padding: 5px;
  color: lime;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  border-radius: 5px;
}

span {
  background-color: rgba(0, 255, 0, 0.25);
}

.aboutme p {
  margin: 10px;
}

.toggle-projects-btn {
  position: absolute;
  z-index: 1;
  top: 3325px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  background-color: rgba(0, 255, 0, 0.25);
  color: lime;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.toggle-projects-btn:hover {
  background-color: rgba(0, 255, 0, 0.5);
}

.projects {
  position: absolute;
  z-index: 1;
  display: flex;
  top: 3400px;
  width: 50%;
  padding: 5px;
  color: lime;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  border-radius: 5px;
  transition: max-height 0.5s ease-in-out;
  max-height: 2000px;
  overflow: hidden;
}

.projects.hidden {
  max-height: 0;
}

.projects p {
  margin: 10px;
}

a {
  text-decoration: none;
  color: lime;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

a:hover,
.link:hover,
.git:hover {
  background-color: rgba(0, 255, 0, 0.5);
  transition: background-color 0.25s ease;
}

.link {
  background-color: rgba(0, 255, 0, 0.25);
}

.git {
  color: yellow;
  background-color: rgba(0, 255, 0, 0.25);
}

.foroniteimg {
  height: auto;
  width: 250px;
  max-width: 600px;
  margin-top: 5px;
  transition: width 0.5s ease;
}

.foroniteimg:hover {
  width: 100%;
  max-width: 600px;
}

.svg {
  position: absolute;
  z-index: 1;
  top: 5950px;
  animation: rotate 10s ease infinite;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.footer {
  position: absolute;
  z-index: 1;
  top: 6000px;
  padding: 5px;
  color: lime;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  background-color: rgba(0, 255, 0, 0.25);
  border-radius: 5px;
}

@media screen and (max-aspect-ratio: 1/1) {

  .aboutme,
  .projects {
    width: 95%;
    left: 10px;
    right: 0;
  }

}